<section id="stream">
  <div class='pro-header-a'>
    <section class='popular-section'>
      <span>Feeds</span>
    </section>
  </div>
  <section class='feed'>
    <%= render '/shared/photo_list' %>
  </section>
</section>
