<section id="stream-2">
<div class="pro-header-a ">
  <section class="popular-section">
    <span>Network Updates</span>
  </section>
</div>

<div id="updates" class="wrapper-700">
  <div class="network-update-panel">
    <ul>
      <li>
        <a class="text-link" href="#">Typovar</a>
        <span>posted 3 images.</span>
      </li>
      <li>
        <span>JUST NOW</span>
      </li>
    </ul>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
  </div>
  <div class="network-update-panel">
    <ul>
      <li>
        <img width="18" height="18" title="follow" alt="follow" src="/web-assets/images/follow-my-update.png">
        <a class="text-link" href="#">Tomo</a>
        <span>started following <a href="#"class="strong">Juan</a></span>
      </li>
      <li>
        <span>JUST NOW</span>
      </li>
    </ul>
    <a class="img-mask" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/twitter-quote.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
  </div>
  <div class="network-update-panel">
    <ul>
      <li>
        <img width="18" height="18" title="like" src="/web-assets/images/like.png">
        <a class="text-link" href="#">Typovar</a>
        <span>liked 13 posts</span>
      </li>
      <li>
        <span>30 MINS AGO</span>
      </li>
    </ul>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
  </div>
  <div class="network-update-panel">
    <ul>
      <li>
        <img width="18" height="18" title="favorite" src="/web-assets/images/Star.png" class="star-selected">
        <a class="text-link" href="#">Typovar</a>
        <span>favourited <a href="#"class="strong">Baskervile</a></span>
      </li>
      <li>
        <span>YESTERDAY</span>
      </li>
    </ul>
  </div>
  <div class="network-update-panel">
    <ul>
      <li>
        <img width="18" height="18" title="comment" src="/web-assets/images/comment.png">
        <a class="text-link" href="#">Typovar</a>
        <span>commented on post.</span>
      </li>
      <li>
        <span>YESTERDAY</span>
      </li>
    </ul>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="profile" alt="profile" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
  </div>
  <div class="network-update-panel">
    <ul>
      <li>
        <img width="18" height="18" title="spot" src="/web-assets/images/spot.png">
        <a class="text-link" href="#">Typovar</a>
        <span>spotted <a href="#"class="strong">Brokenscript Bold Cond</a>. 3 others agreed.</span>
      </li>
      <li>
        <span>YESTERDAY</span>
      </li>
    </ul>
    <a class="img-mask-square" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/pic1.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/twitter-quote.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/twitter-quote.png">
      <div class="overlap"></div>
    </a>
    <a class="img-mask" href="#">
      <img width="75" height="75" title="post" alt="post" src="/web-assets/images/twitter-quote.png">
      <div class="overlap"></div>
    </a>
  </div>
</div>
</section>
