<section id="stream">
  <div class="pro-header-a">
    <section class="popular-section">
      <span>Recently spotted</span>
    </section>
  </div>
  <section>
    <%= render '/shared/font_list' %>
  </section>
</section>
