.bundle
config/mongoid.yml
config/certs
db/*.sqlite3
log/*.log
log/*.txt
tmp/
coverage
.sass-cache/
public/photos/
public/avatars/
public/fonts/
public/assets
public/test_*/
.project
.env.local
.env.test
*~
