<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Fontli - FAQ</title>
		<link href="/assets/reset-grid.css" rel="stylesheet" type="text/css" />
		<link href="/assets/style.css"  rel="stylesheet" type="text/css" />
	</head>
	<body id="privacy">
		<div id="masterWrapper">
			<header class="main">
				<div class="wrapper">
					<div class="primary">
						<a href="/" id="logo">Fontli</a>
						<span>discover, share, pure type love</span>
					</div>
				</div>
			</header>
			<section class="faq-bg">
				<div class="faq-container wrapper">
					<h2>Frequently Asked Questions</h2>
<h4>What is Fontli?</h4>
<p>Fontli is a beautiful, easy way to capture and share type. It also lets you spot typefaces and tag them in the SOS section, find designer/foundry info and interact with a global community of typographers, lettering artists, illustrators and type enthusiasts.</p>

<h4>How does font tagging work?</h4>
<p>Fontli is hooked up with a large library of fonts from <a href="http://new.myfonts.com" target="blank">myfonts.com</a>. You can search for and tag a photo with any font from this library.</p>

<h4>What qualifies as a good post on Fontli?</h4>
<p>Any good photos you take of lettering or type will fit right in. For instance, this includes magazine layouts, graffiti, signage, handlettering, installations, packaging, environmental systems, invitations, woodcuts, etched lettering and a lot more.</p>

<h4>What are the social features?</h4>
<p>Social interactions are the essence of Fontli. You can follow anyone from our network of typography enthusiasts and like or comment on their posts. Your timeline will show a steady stream of photos shared by the people you follow. Your posts are all public and can be shared to Twitter and Facebook from the Fontli app.</p>
<p>We’ve also introduced a new Collections section that will help you discover great posts in different categories like calligraphy and lettering.</p>

<h4>Where can I get the Fontli app for my phone?</h4>
<p>Fontli is finally available for <a href="<%= I18n.t('links.google_play', params: nil) %>" target="blank">Android</a>, <a href="<%= I18n.t('links.itunes', params: '?ls=1&mt=8')
%>" target="blank">iPhone</a> and <a href="http://www.windowsphone.com/en-us/store/app/fontli/0d09f01f-17de-4757-b63c-a1cb32fbd655" target="blank">Windows</a> phones! So no matter what platform you’re on, you can now enjoy all the type goodness with just a tap.</p>

<h4>Is it free?</h4>
<p>Yes! Fontli is absolutely free.</p>

<h4>What's next?</h4>
<p>We’re working on a UI revamp for the iPhone version. We also have a few ideas that will make Fontli much more exciting and we’ll be rolling them out with future updates.  In the meanwhile, we’re still trying to improve the app, so feel free to report bugs or send us an email with your suggestions.</p>

<h4>Who is behind Fontli?</h4>
<p>Fontli is funded, created and maintained by Pramati Technologies. We do not have any other affiliations as yet.</p>

<h4>Where can I get more info?</h4>
<p>You can email us at <a href="mailto:info@fontli.com" target="blank">info@fontli.com</a> or tweet to us <a href="https://twitter.com/fontli" target="blank">@fontli</a>.</p>
				</div>
			</section>
			<footer class="main">
				<div class="wrapper footer">
					<p>
						Mail your feedback and enquiries to <a href="mailto:info@fontli.com">info@fontli.com</a>
						Fontli is freshly cooked at <a href="http://www.imaginea.com" target="blank">Imaginea</a>
					</p>
                                        <ul>
                         <li><a href="/faq-web.html">FAQ</a></li>
    <li><a href="http://storify.com/Fontli/fontli-buzz" target="blank">FONTLI Buzz</a></li>
    <li><a href="/privacy-web.html">privacy</a></li>
    <li><a href="http://fontli.tumblr.com" target="blank">blog</a></li>
    <li><a href="http://www.pramati.com" target="blank">PRAMATI TECHNOLOGIES</a></li>
  </ul>

					<h5>Available for iOS, Android and WP</h5>
				</div>
			</footer>
		</div>
	</body>
</html>
