<div class="controls" style="<%= 'top:-130px;' if logged_in? %>">
  <a href="#" class="prev-page">
    <img src="<%= asset_path('left-arrow-big.png') %>" width="50" height="105" alt="left-arrow" title="Previous Page" />
  </a>
  <a href="#" class="next-page">
    <img src="<%= asset_path('right-arrow-big.png') %>" width="50" height="105" alt="right-arrow" title="Next Page" />
  </a>
</div>
