<div id='popup_container'>&nbsp;</div>
<div id='popup_loader'>
  <div class='popup closed'>
    <div class='left-pop'>
      <img src='<%= asset_path('ajax-loader.gif') %>' alt="Loading..." class='loader' />
    </div>
  </div>
</div>
