<% follow = n.notifiable %>
<% frm_usr = follow.user %>
<li class="follow">
  <div class="ref-usr">
    <a class="ref-usr-ring" href="http://openprofile/<%= frm_usr.id.to_s %>">
      <img src='<%= frm_usr.url_thumb %>' />
    </a>
  </div>
  <div class="text">
    <%= frm_usr.username %> started following your feeds.
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
