<%= provide :head do %>
  <style type="text/css">
    section{margin: 0 auto;}
    article{margin:10px 0 30px;border-bottom:1px solid #F2F2F2;padding-bottom:20px}
    .image_container{text-align:center;}
    .image_container img{border:1px solid #CCC;padding:3px;background-color:#FFF;}
    .meta{text-align:center}
    .meta{margin:10px 0}
    .meta a{text-decoration:none;color:#2966A7;margin:0 15px}
  </style>
<% end %>

<% @feeds.each do |f| %>
  <article>
  <div class="image_container">
    <img src="<%= f.url %>" alt="<%= f.caption %>" />
  </div>
  <div class="meta">
    <a href="#">2 Fonts</a>
    <a href="#">6 Comments</a>
    <a href="#">10 Likes</a>
  </div>
  </article>
<% end %>
