<div style="font-size: 22px; color: #333; margin: 0 0 22px 0px; font-weight: bold;">Hey <%= @user.username %>!</div>

<div><span style="font-size:14px;"><span style="color: rgb(87, 71, 81); font-family: Roboto, Helvetica, sans-serif; white-space: pre-wrap;">We have introduced a new feature from Fontli Labs, called the &#39;</span><span class="highlightedLayerContent" data-color-group="turquoise" style="margin: 0px; padding: 0px; border: none; outline: none; box-shadow: none; border-radius: 0px; font-family: Roboto, Helvetica, sans-serif; box-sizing: border-box; flex-shrink: 0; text-shadow: 1px 0 var(--whitey), -1px 0 var(--whitey); background-image: linear-gradient(transparent 16px, var(--turquoise) 16px, var(--turquoise) 17px, transparent 17px); color: rgb(87, 71, 81); white-space: pre-wrap;">The Wand</span><span style="color: rgb(87, 71, 81); font-family: Roboto, Helvetica, sans-serif; white-space: pre-wrap; background-color: rgb(242, 242, 242);">&#39;. </span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="color: rgb(87, 71, 81);font-family: Roboto, Helvetica, sans-serif;white-space: pre-wrap;line-height: 19px;">You can give text of your choice, choose one of our backgrounds and let &#39;The Wand&#39; do it&#39;s job. You will be notified when the final output is ready. </span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="color: rgb(87, 71, 81); font-family: Roboto, Helvetica, sans-serif; white-space: pre-wrap;">What are you waiting for? Upgrade to the latest app to give it a shot! </span></span></div>

<div>&nbsp;</div>

<div style="margin: 0px 0px 10px 0px;"><span style="font-size:14px;"><span style="color: rgb(87, 71, 81); font-family: Roboto, Helvetica, sans-serif; white-space: pre-wrap;">- Team Fontli</span></span></div>
