<h1 style="color:#757575;font-size:25px;margin:20px 0px 20px 0px;">
  Hi there!
</h1>
<p style="margin: 0px 0px 20px 0px;color: #757575;font-size: 17px;">
  It's been a while since you used Fontli, and we miss you.
</p>
<p style="margin: 0px 0px 20px 0px;color: #757575;font-size: 17px;">
  Check out the just refreshed Fontli app for some cool new features, improved user experience and bug fixes (as always!).
</p>
<p style="margin: 0px 0px 20px 0px;color: #757575;font-size: 17px;">
  We know you love typography and all things type. Why don't you try out Fontli right now?
</p>
