<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting to iTunes...</title>
    <meta http-equiv="refresh" content="1;URL= "<%= I18n.t('links.itunes', params: '?mt=8&utm_source=email_click&utm_campaign=iTunes&utm_medium=image')
%>"/>
  </head>
  <body>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
