<!DOCTYPE html>
<html>
  <head>
    <title>Fontli</title>
    <meta content="charset=utf-8">
    <!--[if !IE]><!-->
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black" />
    <!--<![endif]-->
    <style type="text/css">
      /***reset*****/
      html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;-webkit-user-select:none;-webkit-text-size-adjust:none;-webkit-touch-callout:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}input,select{vertical-align:middle;}
      /******reset*****/
      @media screen and (orientation:portrait) { section { min-width:320px; } }
      @media screen and (orientation:landscape) { section { min-width:480px; } }
      body.android section { font-family:roboto; width:100%; }
      body.android .updates li { margin-right:5px; }
      body.android .ref-usr img, body.android .ref-img { height:50px; width:50px; padding:0; margin:0; }
      body.android a.author { color: #000; }
      body.android .text { font-size:15px; }
    </style>

    <%= render '/shared/android_css_fix' %>
    <%= yield(:head) %>
  </head>

  <body>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
